body {
    background-color: black;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .component {
    background-image:black;
    /* linear-gradient(to right,  #012d48 , #6699FF); */
    background-color: black;
    width: 25%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
    color:azure;
  }
  
  .musicCover {
    border-radius: 10%;
    width: 70%;
    height: 70%;
    opacity: 1;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    margin-top: -1em;
    color: azure;
    font-size: medium;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: azure;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color:#6699FF; 
    background-color: grey;
  }
  
  input[type="range"] {
    background-color: #6699FF;
    
  }
  
  @media (max-width: 1000px) {
    .component {
      width: 50%;
    }
  }